{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUDinventario</title>
    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!--  CSS -->
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <!--  JS -->
    <script src="{% static 'js/app.js' %}" defer></script>
    
</head>
<body>

    <header class="menu">
        <div class="cuadrolog">
            <!-- link para al dashboard -->
            <a href="{% url 'index' %}"><img class="logo" src="{% static 'images/Lavamatic La Italiana logo.jpeg' %}" alt="logo"></a>
            </div>
           
            <nav>
                <a href=""></a>

            </nav>

        
           </div>
           <div class="menuadmin">
            <button>Santiago Godoy</button>
            <img class="fotoad" src="{% static 'images/Administrador.jpg' %}" alt="fotoad">
            <div class="menuadminl">
            <a href="#">Informacion de empleados</a>
            <a href="#">Informacion personal</a>
            <a href="{% url 'index' %}">Cerrar sesion</a>
            </div>
          </div>             
    </header>
    

    <div class="menu-dashboard">
        <!-- TOP MENU -->
        <div class="top-menu">

            <div class="toggle">
                <i class='bx bx-menu'></i>
            </div>
        </div>
        <!-- INPUT SEARCH -->
        <div class="input-search">
            <i class='bx bx-search'></i>
            <input type="text" class="input" placeholder="Buscar">
        </div>
         <!-- MENU -->
         <div class="menu"style="color: white; ">
          <div class="enlace">
              <i class="bx bx-grid-alt"> <h5><a href="{% url 'crudOT' %}">Orden de trabajo</a></h5> </i>
          </div>
  
          <div class="enlace">
              <i class="bx bx-user"> <h5><a href="{% url 'crudPago' %}">Sueldos</a></h5> </i>
          </div>
  
          <div class="enlace">
              <i class="bx bx-grid-alt"> <h5><a href="{% url 'actividad' %}">Actividades</a></h5> </i>
          </div>
  
          <div class="enlace">
              <i class="bx bx-cart"> <h5><a href="{% url 'crudInventario' %}">Inventario</a></h5> </i>
          </div>
      </div>
  </div>
    
    <div class="barra de navegacion">
    </div>


             
           </div>
<!-- Menu -->
<ul class="list-unstyled text-end" style="position: fixed; bottom: 0; left: 0; right: 0;">
    <li class="mb-2">
      <!-- link para el pdf -->
      <a href="#" class="btn btn-danger btn-block">PDF</a>
    </li>
    <li class="mb-2">
      <!-- link para el pdf -->
      <a href="#" class="btn btn-success btn-block">Excel</a>
    </li>
  </ul>
    
<div class="container mt-5">
    <h1 class="text-center p-5">Inventario</h1>

    <div class="p-5 table-responsive">

      <button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#modalRegistrar">Añadir Inventario</button>

 <!-- Modal AÑADIR DATOS -->
 <div class="modal fade" id="modalRegistrar" tabindex="-1" aria-labelledby="modalRegistrarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="modalRegistrarLabel">Añadir Inventario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form action="" method="POST">
        <!-- Modal AÑADIR id inventario -->
        <div class="mb-3">
          <label for="txtinventario" class="form-label">ID inventario</label>
          <input type="text" class="form-control" id="txtinventario" aria-describedby="emailHelp" name="txtinventario">
        </div>
        <!-- Modal AÑADIR nombre P-->
        <div class="mb-3">
          <label for="txtnombre" class="form-label">Nombre proveedor</label>
          <input type="text" class="form-control" id="txtnombre" aria-describedby="emailHelp" name="txtnombre">
        </div>
       <!-- Modal AÑADIR cantidad-->
        <div class="mb-3">
          <label for="txtcantidad" class="form-label">Cantidad</label>
          <input type="text" class="form-control" id="txtcantidad" aria-describedby="emailHelp" name="txtcantidad">
        </div>
       <!-- Modal AÑADIR descripcion -->
        <div class="mb-3">
          <label for="txtdecripcion" class="form-label">Descripcion</label>
          <input type="text" class="form-control" id="txtdecripcion" aria-describedby="emailHelp" name="txtdecripcion">
        </div>
       <!-- Modal AÑADIR insumo-->
        <div class="mb-3">
          <label for="txtinsumo" class="form-label">ID insumo</label>
          <input type="text" class="form-control" id="txtinsumo" aria-describedby="emailHelp" name="txtinsumo">
        </div>
       <!-- Modal AÑADIR  maquinas-->
        <div class="mb-3">
          <label for="txtmaquina" class="form-label">ID maquina</label>
          <input type="text" class="form-control" id="txtmaquina" aria-describedby="emailHelp" name="txtmaquina">
        </div>


       <!-- BOTONES MODAL AÑADIR-->
      <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
      </form>
    </div>

  </div>
</div>
</div>


    <table class="table" class="mb-4">
  <thead >
    <tr>
      <th scope="col">ID inventario</th>
      <th scope="col">Nombre proveedor </th>
      <th scope="col">Cantidad</th>
      <th scope="col">Descripcion</th>
      <th scope="col">ID Insumo</th>
      <th scope="col">ID Maquina</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">

    <tr>
      <th>id_Inventarios</th>
      <td>NombreProveedor</td>
      <td>cantidad</td>
      <td>decripcionInventario</td>
      <td>idInsumo</td>
      <td>idMaquina</td>
      <td>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalEditar">Modificar</button>
      <button type="button" class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
      </div>


<!-- Modal modificar datos -->

<div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="modalEditarLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalEditarLabel">Modificar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="">

                    <div class="mb-3">
                        <label for="txtinventario" class="form-label">Id_Inventarios</label>
                        <input type="text" class="form-control" id="txtinventario" aria-describedby="emailHelp" name="txtinventario" value="" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="txtnombre" class="form-label">Nombre Proveedor</label>
                        <input type="text" class="form-control" id="txtnombre" aria-describedby="emailHelp" name="txtnombre" value="">
                    </div>
                    <div class="mb-3">
                        <label for="txtcantidad" class="form-label">Cantidad</label>
                        <input type="text" class="form-control" id="txtcantidad" aria-describedby="emailHelp" name="txtcantidad" value="">
                    </div>
                    <div class="mb-3">
                        <label for="txtdecripcion" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="txtdecripcion" aria-describedby="emailHelp" name="txtdecripcion" value="">
                    </div>
                    <div class="mb-3">
                        <label for="txtinsumo" class="form-label">Id_Insumo</label>
                        <input type="text" class="form-control" id="txtinsumo" aria-describedby="emailHelp" name="txtinsumo" value="">
                    </div>
                    <div class="mb-3">
                        <label for="txtmaquina" class="form-label">Id_Maquina</label>
                        <input type="text" class="form-control" id="txtmaquina" aria-describedby="emailHelp" name="txtmaquina" value="">
                    </div>



         <!-- BOTONES MODAL MODIFICAR-->
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Modificar</button>
      </div>
    </form>
    </div>
    </div>
  </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>