
/* FONTS GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* VARIABLES */

:root {
    --blanco: #E0E0E0;
    --azul-opacidad:#610360;
    --bg-menu: #490349;
    --bg-body: #C7E1FF;
}

/* GENERALES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: var(--negro);
    margin-bottom: 0%;
    padding: 0%;
}
body
{
    margin: 0%;
    padding: 0%;
    background: url(../img/Fondo-lavadoras.png) no-repeat center top;
    background-size: cover;
}



/* LAYOUT */
.cuadrolog{
    position: absolute;
    z-index: 4;
} 

.menu-dashboard {
    max-width: 150px;
    height: 140%;
    width: 100%;
    background: var(--bg-menu);
    padding: 20px;
    transition: max-width .3s ease;
    position: absolute;
    z-index: 2;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}





.top-menu .toggle {
    left: 10%;
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.top-menu .toggle i {
    font-size: 35px;
}

/* INPUT BOX */

.input-search {
    width: 100%;
    margin: 60px 0;
    background-color: var(--azul-opacidad);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.input-search i {
    font-size: 30px;
    margin-right: 20px;
}

.input-search .input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 30px;
    color: var(--blanco);
    font-size: 22px;
    display: none;
}

/* ENLACES MENU */

.menu .enlace {
    width: 100%;
    padding: 20px 0 20px 17px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: all .10s ease;
}

.menu .enlace:hover {
    background: var(--azul-opacidad);
}

.menu .enlace i {
    margin-right: 20px;
    font-size: 25px;
}

.menu .enlace span {
    opacity: 0;
    transition: opacity .10s ease;
}

.menu-dashboard.open {
    max-width: 400px;
}

.menu-dashboard.open .top-menu .logo span {
    display: block;
}

.menu-dashboard.open .input-search
.menu-dashboard.open .menu .enlace {
    width: auto;
}

.menu-dashboard.open .input-search .input {
    display: block;
}

.menu-dashboard.open .menu .enlace {
    padding: 20px;
}

.menu-dashboard.open .menu .enlace span {
    opacity: 1;
}





header{

    width: 94%;
    min-height: 12%;
    left: 6% ;
    background-color: #490349;
    justify-content: space-between;
    position: absolute;
    display: flex;
    transition: max-width .3s ease;

    /*align-items: center;*/
    top: 0%;
    padding: 10px;
    

}

/*Configurarción barra*/
.barra{
    display: flex;
    align-items:center;
    list-style: none;

}

.barra li{
    margin-left: 200px;
}

.barra li a{
    font-size: 25px;
    color: rgb(10, 9, 9);
    text-decoration: none;
}
.barra li a:hover{
    color: black;
}

/*Logo Lavamatic*/


.menu .logo {
    z-index: 3;

  width: 300px;
  height: 60px;
  top: 0px;
  width: 200px;

border: 5px solid white;

 }

 /*.menu .menuadmin {

    font-weight: 200;
    display:inline-block;
    padding: 0%;
    

 }*/
 .menuadmin .fotoad  {
 width: 70px;
  height: 70px;
  top: 0px;
  border-radius: 50%;
  border: 5px solid white;
 }
.menuadmin button{
    font-style: italic;
    border: none;
    background-color: #610360;
    color: white;
}
 .menuadmin {
    font-style: italic;
    background-color: rgb(43, 0, 0);
    color: #000000;
    width: 15%;
    height: 80px;
    background-color: #610360;
    display: inline-block;
    position: relative;
    z-index: 2;
    
  }
  .menuadminl {
    z-index: 3;
    background-color: #610360;
    color: black;
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(52, 1, 55, 0.4);
  }
  .menuadmin:hover .menuadminl {
    display: block;
    color: #000000;
  }
  .menuadminl a {
    z-index: 3;
    margin-top: 5%;
    display: block;
    color: #000000;
    padding: 10px;
    text-decoration: none;
  }
  .menuadminl a:hover {
    z-index: 3;
    color: #000000;
    background-color: #b008f8;
  }
  .menu a{
    color: #ffffff;
    text-decoration: none;
    color:rgb(255, 255, 255);
  }





