
body.navbar{
    background-color: rgb(97, 26, 160);
}
.btn-info-solid-custom{
    background-color: rgb(97, 26, 160);
    color: white;

}
.site_header{
    color: white;
}
.brand-text{
    color: white;
}