
.logo img{
    height: 90px;
}

/* Color Barra de navegación*/
.navbar {
    background-color: #46cac8;
  }

    .font-size-lg {
    font-size: 18px; /* Tamaño de la letra deseado, ajusta según tus preferencias */
  }
/* Cambiar el color de los enlaces al pasar el cursor sobre ellos */
.navbar-nav .nav-link:hover {
    color: black !important;
}
.custom-btn {
  background-color: #43045c !important; 
  color: #fff !important; 
  border-color: #43045c !important; 
}

/* Anular estilos :hover de Bootstrap */
.custom-btn:hover {
  background-color: #43045c !important;
  color: #fff !important; 
  border-color: #43045c !important; 
}



.text-purple {
    color: #43045c !; 
}


footer{
  background-color: #46cac8 !important;
  min-height: 100px;
}

footer p{
  color: white;
  text-align: center;
}

#iconos i{
  font-size: 20px;
  padding: 0 8px;
  color: white;
  justify-content: center !important;
}
#iconos a{
  font-size: 20px;
  padding: 0 8px;
  text-decoration: none;
  color: white;
  justify-content: center !important;
}

 @media (max-width:768px)
 {
   .servicio-fila{
    width: 100% !important;
    text-align: center !important;
   }
   
   p{
    text-align: justify;
   }
   .logo{
    transform: translateX(50px);
   }
 }





  
  
  


    