
    {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>Registrarse</title>
</head>
<body>
    <!--header>
        <a href= "Registro.html" class="logo">

            <img src="img/LOGO MORADO LAVAMATIC.png" alt="">

         </a>
    </header-->



     <div class="signupFrm">

      <a href="{% url 'index' %}" class="imgregistro">
        <img src="{% static 'images/LOGO MORADO LAVAMATIC.png' %}" alt="">
      </a>


        <form  class="form" id="formulario" method="post" onsubmit="return validarFormulario()">
          {% csrf_token %}
          <h1 class="title">Formulario de Registro</h1>
          <div class="inputContainer">
            <input type="text" class="input" name="username" id="nombre" maxlength="35" placeholder="a" required>
            <label for="{{ form.username.id_for_label }}" class="label"> Nombre </label>
          </div>


          <div class="inputContainer">
            <input type="email" class="input" name="email" id="email" placeholder="a" name="email" required>
            <label for="{{ form.email.id_for_label }}" class="label">Correo</label>
          </div>

          <div class="inputContainer">
            <input type="password" class="input" placeholder="Contraseña" name="password1" id="id_password1" required>
            <label for="{{ form.password1.id_for_label }}" class="label">Contraseña</label>
          </div>
          <div class="inputContainer">
            <input type="password" class="input" placeholder="Confirmar Contraseña" name="password2" id="id_password2" required>
            <label for="{{ form.password2.id_for_label }}" class="label">Confirmar Contraseña</label>
          </div>



          <button type="submit" class="submitBtn" value="Continuar">
          <!--a href="DashBoard.html"target="_blank" input type="submit" class="submitBtn" value="Continuar" --> Continuar </a>

          <script>
            function validarFormulario() {
              var password1 = document.getElementById("id_password1").value;
              var password2 = document.getElementById("id_password2").value;
          
              // Verificar que las contraseñas coincidan
              if (password1 !== password2) {
                alert("Las contraseñas no coinciden");
                return false;
              }
          
              // Verificar que las contraseñas tengan más de cinco dígitos
              if (password1.length < 6 || password2.length < 6) {
                alert("Las contraseñas deben tener al menos seis caracteres");
                return false;
              }
          
              // Verificar que las contraseñas contengan al menos un carácter especial
              var regex = /[!@#$%^&*(),.?":{}|<>]/;
              if (!regex.test(password1) || !regex.test(password2)) {
                alert("Las contraseñas deben contener al menos un carácter especial");
                return false;
              }
          
              // Si todas las validaciones pasan, envía el formulario
              return true;
            }
          </script>          

        </form>

      </div>
</body>
<script src=""></script>
</html>