
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url('/static/images/lavadorasFondo.png'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen de fondo */
  background-size: cover; /* Otra propiedad que puedes ajustar según tus necesidades */
  /* Más propiedades de fondo si es necesario */
}


footer{
  background-color: #46cac8 !important;
  min-height: 100px;
}

footer p{
  color: white;
  text-align: center;
}



@media (max-width:768px)
{
 .servicio-fila{
  width: 100% !important;
  text-align: center !important;
 }
 
 p{
  text-align: justify;
 }
 .logo{
  transform: translateX(50px);
 }
}
.form {
  background-color: white;
  border: 8px solid #46cac8;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgb(0, 0, 0);
}

