body
{
    margin: 0%;
    padding: 0%;
    background: url(../img/Fondo-lavadoras.png) no-repeat center top;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}

/*Parte de ventas*/
.cuadro1{
    width: 50%;
    height: 40%;
    background-color: white;
    border: 4px solid  #490349;
    border-radius: 20px;

    position: absolute;
    top: 30%;
    left: 13%;
    z-index: 1;
}
.cuadro1 p{
    position: absolute;
    top: 2%;
    text-indent: 4em;
    font-size: 30px;
    font-weight:bold;
    color: black;
}

.cuadro1 .menuVen{
    color: black;
    margin-top: 2%;
    position: relative;
    left: 50%;

}

.cuadro1 img{
    width: 75%;
    height: 75%;
    position: relative;
    top: 10%;
    left: 13%;
    right: auto;
}
.cuadro1 li{
    display: inline;
}
.cuadro1 a{
    color: white;
    display: inline-block;
    text-align: center;
    width: 12%;
    border-radius: 20px;
    text-decoration: none;
    background-color: #490349;
}
.cuadro1 a:hover{
    transform: scale(1.2);
}
/*Parte de Pedidos*/
.cuadro2{
    width: 28%;
    height: 43%;
    background-color: white;
    border: 4px solid  #490349;
    border-radius: 20px;
    z-index: 0;

    position: absolute;
    top: 30%;
    left: 70%;
}

.cuadro2 .Titulo{
    text-align: center;
    margin-top: 2%;
    font-size: 25px;
    font-weight:bold;
    color: black;
}

.Pedidos{
    height: auto;
    width: 90%;
    background-color:#490349;
    border: 4px solid black;
    border-radius: 20px;
    position: absolute;
    left: 4%;
    top: 15%;
}

.Pedidos p{
    color: white;
    font-size: 13px;
}

.Pedidos a{
    color: black;
    display: inline-block;
    text-align: center;
    width: 25%;
    border-radius: 20px;
    text-decoration: none;
    background-color: white;

    position: absolute;
    left: 70%;
    top: 30%;
}
.Pedidos a:hover{
     transform: scale(1.2);
}
.Pedidos img{
    width: 15%;
    height: 15%;
    border-radius: 100%;
}
.Pedidos2{
    height: auto;
    width: 90%;
    background-color:#490349;
    border: 4px solid black;
    border-radius: 20px;
    position: absolute;
    left: 4%;
    top: 35%;
}

.Pedidos2 p{
    color: white;
    font-size: 13px;
}

.Pedidos2 a{
    color: black;
    display: inline-block;
    text-align: center;
    width: 25%;
    border-radius: 20px;
    text-decoration: none;
    background-color:white;

    position: absolute;
    left: 70%;
    top: 30%;
}
.Pedidos2 a:hover{
     transform: scale(1.2);
}
.Pedidos2 img{
    width: 15%;
    height: 15%;
    border-radius: 100%;
}

.Pedidos3{
    height: auto;
    width: 90%;
    background-color:#490349;
    border: 4px solid black;
    border-radius: 20px;
    position: absolute;
    left: 4%;
    top: 55%;
}

.Pedidos3 p{
    color: white;
    font-size: 13px;
}

.Pedidos3 a{
    color: black;
    display: inline-block;
    text-align: center;
    width: 25%;
    border-radius: 20px;
    text-decoration: none;
    background-color: white;

    position: absolute;
    left: 70%;
    top: 30%;
}
.Pedidos3 a:hover{
     transform: scale(1.2);
}
.Pedidos3 img{
    width: 15%;
    height: 15%;
    border-radius: 100%;
}

.Pedidos4{
    height: auto;
    width: 90%;
    background-color:#490349;
    border: 4px solid black;
    border-radius: 20px;
    position: absolute;
    left: 4%;
    top: 75%;
}

.Pedidos4 p{
    color: white;
    font-size: 13px;
}

.Pedidos4 a{
    color: black;
    display: inline-block;
    text-align: center;
    width: 25%;
    border-radius: 20px;
    text-decoration: none;
    background-color: white;

    position: absolute;
    left: 70%;
    top: 30%;
}
.Pedidos4 a:hover{
     transform: scale(1.2);
}
.Pedidos4 img{
    width: 15%;
    height: 15%;
    border-radius: 100%;
}

.Info{
    position: absolute;
    left: 35%;
    top: 5%;
}

/*Parte de Gastos*/
.cuadro3{
    width: 45%;
    height: 45%;
    background-color: white;
    border: 4px solid  #490349;
    border-radius: 20px;

    position: absolute;
    top: 85%;
    left: 13%;
    z-index: 0;
}
.cuadro3 p{
    font-size: 20px;
    font-weight:bold;
    color: black;
 
}
.cuadro3 .menuGas{
    color: black;
    margin-top: 2%;
    position: relative;
    left: 13%;
}

.cuadro3 li{
    display: inline;
}
.cuadro3 a{
    color: white;
    display: inline-block;
    text-align: center;
    width: 12%;
    border-radius: 20px;
    text-decoration: none;
    background-color: #490349;
}
.cuadro3 a:hover{
    transform: scale(1.2);
}
.cuadro3 img{
    width: 80%;
    height: 80%;
    position: relative;
    top: 3%;
    left: 13%;
    right: auto;
}

.cuadro3 .fecha{
    position: absolute;
    top: 4%;
    left: 70%;
}

.fecha input{
    background-color: #490349;
    color: white;
    border: none;
    text-align: center;
    border-radius: 20px;
}

.form__input[type="date"]::-webkit-calendar-picker-indicator{
    filter: invert(1);
}

/*Parte de Inventarios*/
.cuadro4{
    width: 38%;
    height: 45%;
    background-color: white;
    border: 4px solid  #490349;
    border-radius: 20px;

    position: absolute;
    top: 85%;
    left: 60%;
}
.cuadro4 p{
    color: black;
    text-align: center;
    margin-top: 2%;
}
.cuadro4 img{
    height: 80%;
    width: 80%;
    position: relative;
    top: 10%;
    left: 8%;
    right: auto;
}